.PlantDisplay {
    height: 60vmin;
    width: 40vmin;
    background-color: lightblue;
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}
  
.rim {
    height: 4vmin;
    width: 21vmin;
    background-color: rgb(73, 78, 122);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: absolute;
    bottom: 13vmin;
}
  
.pot {
    height: 13vmin;
    width: 17vmin;
    background-color: rgb(73, 78, 122);
    position: absolute;
    bottom: 1vmin;
    margin: auto;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
    z-index: 3;
}

.componentContainer {
    height: 45.5vmin;
    width: 100vmin;
    background-color: bisque;
    position: relative;
}