.Create {
    margin-top: 15vmin;
    color: rgb(255, 230, 230);
}

.ul {
    text-align: left;
    margin-top: 3vmin;
    font-size: 4vmin;
}

.h2 {
    text-decoration: underline;
    margin-top: 4vmin;
    font-size: 7vmin;
}