.Actions {
    height: 70vmin;
    width: 40vmin;
    position: relative;
}

.canWrapper {
    height: 30vmin;
    width: 30vmin;
    position: relative;
}

.handle {
    height: 12vmin;
    width: 8vmin;
    border-radius: 50%;
    border: 10px solid rgb(129, 67, 129);
    position: absolute;
    bottom: 10vmin;
    left: 3vmin;
}

.body {
    height: 15vmin;
    width: 15vmin;
    background-color: rgb(129, 67, 129);
    margin: 0;
    border-bottom-right-radius: 4vmin;
    border-top-left-radius: 4vmin;
    position: absolute;
    left: 1vmin;
    bottom: 1vmin;
}

.spout {
    height: 13vmin;
    width: 9vmin;
    background-color: rgb(129, 67, 129);
    position: absolute;
    left: 13vmin;
    bottom: 7vmin;
    clip-path: polygon(0 59%, 100% 0, 100% 8%, 0% 100%);
}

.sunWrapper {
    height: 30vmin;
    width: 30vmin;
    position: relative;
}

.sun {
    height: 12vmin;
    width: 12vmin;
    border-radius: 50%;
    background-color: gold;
    border: 7px solid orange;
    position: absolute;
    bottom: 7vmin;
    left: 7vmin;
    z-index: 1;
}

.rays1 {
    height: 30vmin;
    width: 30vmin;
    background-color: gold;
    position: absolute;
    bottom: -2vmin;
    left: -3vmin;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.rays2 {
    height: 30vmin;
    width: 30vmin;
    background-color: orange;
    position: absolute;
    bottom: -2vmin;
    left: -2vmin;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    transform: rotate(30deg);
}